@import '../styles/Variables/Var.scss';

.map-wrap{
    iframe{
        border: none;
    }

    .map-name{
        padding: 30px 0;
        width: 1200px;
        margin: auto;

        @media screen and (max-width: 800px) {
            width: auto;
        }

        h1{
            color: $mainColor;
            text-align: center;
            font-size: 26px;
            font-weight: 600;
        }

        p{
            font-family: $Jost;
            color: $dark;
            text-align: center;
            font-size: 18px;
            font-weight: 400;

            @media screen and (max-width: 800px) {
                font-size: 16px;
                padding: 0 10px;
            }
        }

        .map-desc{
            font-size: 16px;
            font-weight: 400;
        }
    }
}